<%- include('./partials/head', {title:'Index',script: "index" }) %>

<h1>Paf test</h1>

<input id="prenom">
<input id="nom" >

<button id="test" onclick="submit()">Test</button>


<%- include('./partials/footer') %>