<%- include('./partials/head', {title:'Index',script: "news",css: "news" }) %>

<div>
    <h1>The news</h1>
    <button onclick="refresh()">Refresh</button>
</div>
<div id="c">

</div>

<%- include('./partials/footer') %>